<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blogpost.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blogpost.content %>
</p>

<p>
  <strong>Featured image:</strong>
  <%= @blogpost.featured_image %>
</p>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
